Repository kookmin-sw/capstone-2023-05, pull requests merged in 2023-04, with the labels that each got.

#39 docs: Create Github Page
  README.md
  images/banner.png
  images/overview.png
  images/process.png
Labels: documentation

#40 feat: CORS
  backend/serverless.yml
  backend/src/lambda/handler.py
  backend/src/utility/__init__.py
  backend/src/utility/decorator.py
Labels: common, essential

#41 chore: pip
  backend/.gitignore
  backend/serverless.yml
Labels: backend

#42 Update/data model - model.sql
  backend/.gitignore
  backend/docker-compose.yml
  backend/model.sql
  backend/requirements.txt
  backend/serverless.yml
  backend/src/__init__.py
  backend/src/app/handler.py
  backend/test/__init__.py
  backend/test/app/__init__.py
  backend/test/app/test_app.py
  backend/test/conftest.py
Labels: backend

#44 fix: Pip cache location
  backend/serverless.yml
Labels: backend

#47 refactor: DB and Websocket
  backend/.gitignore
  backend/docker-compose.yml
  backend/serverless.yml
  backend/setup/dynamodb-create-table.sh
  backend/setup/model.sql
  backend/src/game/config.py
  backend/src/lambda/handler.py
  backend/src/utility/__init__.py
  backend/src/utility/decorator.py
  backend/src/utility/websocket.py
  backend/test/utility/test_utility.py
Labels: backend

#52 feat: Vote Team
  backend/serverless.yml
  backend/src/lambda/handler.py
Labels: backend, essential

#53 Refactor/update ddl
  backend/model.sql
  backend/setup/model.sql
Labels: backend, essential

#59 Feat: Add local DynamoDB for local dev environment
  backend/docker-compose.yml
  backend/setup/dynamodb-create-table.sh
Labels: backend, additional
