Repository kookmin-sw/capstone-2023-05, pull requests merged in 2023-05, with the labels that each got.

#58 refactor: Insert query in send-handler
  backend/src/lambda/handler.py
Labels: backend, essential

#61 Update: DiscussionBattle table spec change
  backend/setup/model.sql
Labels: backend, additional

#63 Feat: Like opinion
  backend/serverless.yml
  backend/src/lambda/handler.py
Labels: help wanted, backend, essential

#62 Feat/create room
  .vscode/settings.json
  backend/docker-compose.yml
  backend/serverless.yml
  backend/src/game/__init__.py
  backend/src/game/app.py
  backend/src/lambda/handler.py
  backend/test/conftest.py
Labels: backend, essential

#64 feat: select ads
  backend/serverless.yml
  backend/src/game/app.py
  backend/src/lambda/handler.py
  backend/src/utility/context.py
Labels: backend, essential

#66 feat: finish battle
  backend/docker-compose.yml
  backend/serverless.yml
  backend/src/game/app.py
  backend/src/lambda/handler.py
Labels: backend, essential

#69 Back/feat/broadcast round
  backend/serverless.yml
  backend/src/game/app.py
  backend/src/lambda/handler.py
Labels: backend, essential

#71 Refactor : preparationStart handler
  backend/src/game/app.py
Labels: backend, essential

#72 Back/refactor/start end round
  backend/src/game/app.py
Labels: backend, essential

#75 refactor: init-join-handler
  backend/src/game/app.py
Labels: enhancement, backend, additional

#74 refactor: vote-handler
  backend/src/game/app.py
Labels: enhancement, backend, essential

#78 refactor: select-ads Again
  backend/src/game/app.py
Labels: enhancement, backend, essential

#70 Refactor: like-handler
  backend/serverless.yml
  backend/src/game/app.py
  backend/src/lambda/handler.py
Labels: backend, maintenance, essential

#79 Feat: Opinion filtering
  backend/requirements.txt
  backend/src/game/app.py
Labels: backend, additional

#76 Back/refactor/vote current round
  backend/src/game/app.py
Labels: backend, essential

#92 Downgrading urllib3 package
  backend/requirements.txt
Labels: backend, essential
